.mainNav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
}

.mainNavMenu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  
}

.menuButton {
  display: none;
}

.mainNavMenu ul {

  display: flex;

  list-style: none;

  margin: 0;

  padding: 0;

  z-index: 9999999;

}


.mainNavMenu li {

  position: relative;

  margin-right: 20px;

}


.mainNavDropdown ul {

  display: none;

  position: absolute;

  top: 100%;

  left: 0;

  background-color: #fff;

  padding: 10px;

  min-width: 200px;

}

.mainNavDropdown li {

  margin: 10px 0;

}


.mainNavDropdown li a {

  display: block;

  position: relative;

  color: #000;

  padding: 15px;

  text-decoration: none;

}


.mainNavDropdown li a:hover {

  background-color: #f5f5f5;

}


.mainNavDropdown li ul {

  display: none;

  position: absolute;

  top: 100%;

  left: 0;

  background-color: #fff;

  border: 1px solid #ddd;

  padding: 0;

}


ul.mainNavDropdown li:hover > ul {

  display: block;

}


ul.mainNavDropdown li ul li {

  width: 100%;

}


ul.mainNavDropdown li ul li a {

  padding: 10px 15px;

}


.menuTriggerContainer {

  flex: 0;

}


.menuTrigger {

  cursor: pointer;

}

.logo_container {

  display: flex;

  align-items: center;

}




.logo {

  align-items: start;

  position: absolute;

  width: 120px;

  height: auto;

  z-index: 9999999;/* Ajusta el margen superior según tus necesidades */

}

.menuIcon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
 
}

.menuIcon div {
  width: 2rem;
  height: 0.25rem;
  background: black;
}


@media screen and (max-width: 998px) {
  
  .mainNavMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background: #fff;
    width: 200px;
    z-index: 999999;
    
  }

  .menuIcon {
    display: flex;
  }


  .mainNavMenu.openMenu {
    display: block;
    flex-direction: column;
    transform: translateY(0);
  }

  .mainNavMenu ul {
    flex-direction: column;
  }
 
}

@media screen and (max-width: 500px){
  .logo {
    width: 50px;
  }

  .mainNavMenu {
    width: 170px;
  }
  
}