.container {
    display: flex;
    margin-top: 20px;
  }

.head_title {
    position: relative;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.head_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1; 
    opacity: 0.7;
    transition: transform 0.5s ease;
}

.titleContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 999999;
  margin-left: 30px;
  color: black;
}

.titleContainer h1{
  font-size: 70px;
  font-weight: 700;
}

  .head_title {
    letter-spacing: 2px;
  }
  
  .leftSide {
    width: 30%; /* Representa el 40% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #fcfcfc;
    overflow: auto; /* Esto añade un relleno alrededor del contenido */
    /* Añade tus propios estilos aquí */
  }
  
  .leftContainer {
    background-color: #cccc;
    width: 90%;
    margin-top: 10%;
    margin-left: 20px;
  }
  
  .rightSide {
    width: 70%; /* Representa el 60% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    margin-top: 42px; 
    margin-right: 20px;
    background-color: #f81819;
    
    /* Añade tus propios estilos aquí */
  }
  
  .box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: space-between;
    padding: 20px;
    color: #fcfcfc;
  }

  .contentContainer {
    display: flex;
    justify-content: space-around;
    gap: 30px; /* Ajusta el espacio entre los elementos según tus necesidades */
  }
  .spaceBetween {
    justify-content: center;
  }

  .imageTextContainer {
    display: flex;
    justify-content: center;
  }

  .imageContainer {
    display: flex;
  }
  
  
  .smallImage {
    width: 250px; /* Cambia este valor según tus necesidades */
    height: 200px; /* Ajusta la altura automáticamente para mantener la proporción */
    margin: 5px;
    border: 5px solid #ffff;
  }

  .smallImage1 {
    width: 350px; 
    margin-top: 10px;
  }

  .textContainer{
    width: 100%;
    margin: 60px 10px;
    font-size: 20px;
    display: inline-flex;
  }

  .textContainer ul{
    width: 100%;
  }

  .textContainer1 {
    margin-top: 8px;
    font-size: 18px;
  }
  
  .title {
    color: #fcfcfc;; /* Cambia el color del texto */
    font-size: 24px; /* Cambia el tamaño del texto */
    font-weight: 700; /* Añade un margen inferior */
  }

  .backButton {
    display:flex;
    padding: 10px 20px;
    margin: 30px 20px;
    font-size: 16px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #a00202;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
  }