.passwordToggle {
    position: absolute;
    top: 87%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    -webkit-transform: translateY(-75%);
    -moz-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -o-transform: translateY(-75%);
  }
  
  .passwordToggle svg {
    fill: #777;
    width: 24px;
    height: 24px;
  }
  
  .passwordToggle:focus svg,
  .passwordToggle:hover svg {
    fill: #333;
  }

  .passwordIcon {
    font-size: 20px;
    color: #ccc;
  }


  @media only screen and (max-width: 413px) {
    .inputContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .control {
      
      width: 80%;  /* reduce the height of the inputs */
      font-size: 0.8rem;  /* reduce the font-size in the inputs */
    }
  
    .btn_session {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%; /* reduce the height of the button */
      font-size: 0.9rem; /* reduce the font-size in the button */
    }
  }