
.head_title {
  content: "";
  background-image: url('/imagen/485e7ac7cb9587e2f833d3f05a5a847a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
}
  
  .espacio {
    background-color: #E62C1E;
    height: 100px;
    color: #fff;
  }
  
  .title {
    color: #fff;
    font-size: 45pt;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.5px; 
    line-height: 1.26;
  }
  
  .barra {
    border: none; 
    background-color: #8E1A02; 
    height: 8px; 
    width: 10%; 
    
  }


     /* Cuando la pantalla tiene 576px de ancho o menos */
     @media (max-width: 576px) {
      .subtitle {
        font-size: 1rem; /* Tamaño de fuente aún más pequeño para pantallas pequeñas */
      }
    }