.container {
    display: flex;
  }

.head_title {
    position: relative;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.head_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1; 
    opacity: 0.7;
    transition: transform 0.5s ease;
}

.titleContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 999999;
  margin-left: 30px;
  color: black;
}

.titleContainer h1{
  font-size: 70px;
  font-weight: 700;
}

.head_title {
  letter-spacing: 2px;
}
  
  .leftSide {
    width: 30%; /* Representa el 40% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    border-right: 1px solid #999;
    overflow: auto; /* Esto añade un relleno alrededor del contenido */
    /* Añade tus propios estilos aquí */
  }
  
  .leftContainer {
    background-color: #cccc;
    width: 90%;
    margin-top: 10%;
    margin-left: 20px;
  }
  
  .rightSide {
    width: 70%; /* Representa el 60% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px ; 
    /* Añade tus propios estilos aquí */
  }
  
  .box {
    width: 80%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding: 20px;
  }

  .imageTextContainer {
    display: flex;
    justify-content: space-between;
  }

  .imageContainer {
    width: 70%;
    margin-right: 20px; 
  }
  
  
  .smallImage {
    width: 100%; /* Cambia este valor a tu gusto */
    height: auto; /* Esto mantiene las proporciones de la imagen */
    margin-bottom: 20px;
  }

  .smallImage1 {
    width: 100%; /* Cambia este valor a tu gusto */
    height: auto; /* Esto mantiene las proporciones de la imagen */
    margin-bottom: 20px;
  }

  .textContainer{
    width: auto;
    margin-top: 40px;
    font-size: 20px;
  }
  
  .title {
    color: #333; /* Cambia el color del texto */
    font-size: 24px; /* Cambia el tamaño del texto */
    margin-bottom: 20px;
    font-weight: 700; /* Añade un margen inferior */
    /* Añade tus propios estilos aquí */
  }

  .backButton {
    display:flex;
    padding: 10px 20px;
    margin: 30px 20px;
    font-size: 16px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #a00202;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
  }

  @media (max-width: 1506px) {

    .imageTextContainer {
      flex-direction: column;
    }
  } 

  @media (max-width: 576px) {

    .head_title {
      height: 450px;
    }

    .head_img {
      height: 100%;
    }

    .titleContainer h1 {
      font-size: 35px;
    }

   

    .rightSide {
      width: 20%; /* Representa el 60% del ancho total */
      
    }

    .imageContainer {
      width: 100%;
      margin-right: 20px; 
    }

    .smallImage {
      width: 200px; 
      height: auto;  
    }

    .imageTextContainer {
      flex-direction: column;
    }

    .title {
      font-size: 20px; /* Cambia el tamaño del texto */
      width: 220px;
    }

    .txtContainer {
      width: 220px;
      justify-content: flex-start;
    }
  }

  @media (max-width: 306px) {
    .container {
      flex-direction: column;
    }

    .leftSide {
      width: 100%;
    }
  }