.container {
  display: flex;
}

.head_title {
    position: relative;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.head_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1; 
    opacity: 0.7;
    transition: transform 0.5s ease;
}

.titleContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 999999;
  margin-left: 30px;
  color: black;
}

.titleContainer h1{
  font-size: 70px;
  font-weight: 700;
}

.head_title {
    letter-spacing: 2px;
}

.imageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .imageCard {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px; /* Agrega un margen superior de 20px */
    border: 1px solid rgb(0, 0, 0);
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .imageCard p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }

  .leftSide {
    width: 30%; /* Representa el 40% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    border-right: 1px solid #999;
    overflow: auto; /* Esto añade un relleno alrededor del contenido */
    /* Añade tus propios estilos aquí */
  }
  
  .leftContainer {
    background-color: #cccc;
    width: 90%;
    margin-top: 10%;
    margin-left: 20px;
  }
  
  .rightSide {
    width: 70%; /* Representa el 60% del ancho total */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding: 20px;
  }

  .backButton {
    display:flex;
    padding: 10px 20px;
    margin: 30px 20px;
    font-size: 16px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #a00202;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
  }

  .justifiedText {
    width: 90%;
    text-align: justify;
    margin: 15px;
  }

